In [33]:

#Importing libraries
import pandas as pd
import numpy as np

#Importing dataset
df=pd.read_csv('50_Startups.csv')
df.head(10)

#Assigining input and output
X=df.iloc[:,:-1]
Y=df.iloc[:,4]
df.head(10)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68     Florida  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

In [34]:
#converting state column into categorical data

states=pd.get_dummies(X['State'],drop_first=True)

In [29]:
#Drop state column
X=X.drop('State',axis=1)
X

KeyError: "['State'] not found in axis"